.text-to-speech-player {
    display: inline-block;
}

.text-to-speech-player button {
    border-radius: 100%;
    padding: 0.5rem;
    background-color:transparent;
    display: inline-block;
}

.text-to-speech-player button.active {
    background-color: #cccccc;
}

